<script>
    function setDefault(){
        localStorage.setItem("style", "default");
        location.reload();
    }
    function setFrilly(){
        localStorage.setItem("style", "frilly");
        location.reload();
    }
    function setDepartment(){
        localStorage.setItem("style", "department");
        location.reload();
    }
</script>
<div class="optional_box">
</div>
<div class="theme_switch_container">
    <div class="theme_switch">
        <button onclick="setDefault()">Astral</button>
        <button onclick="setFrilly()">Frilly</button>
        <button onclick="setDepartment()">Department</button>
    </div>
</div>
