<script>
    function setDefault(){
        localStorage.setItem("style", "default");
        location.reload();
    }
    function setFrilly(){
        localStorage.setItem("style", "frilly");
        location.reload();
    }
    function setDepartment(){
        localStorage.setItem("style", "department");
        location.reload();
    }
</script>
<div class="optional_box">
</div>
<div class="theme_switch_container">
    <div class="theme_switch">
        <button onclick="setDefault()">Astral</button>
        <button onclick="setFrilly()">Frilly</button>
        <button onclick="setDepartment()">Department</button>
    </div>
</div>
<script>
    var css_link = "/styles/"+localStorage.getItem("style")+".css";
    if (css_link === "/styles/null.css") {
        css_link = "/styles/default.css";
    }
    var logo_link = "/styles/images/"+localStorage.getItem("style")+"_logo_transparent.png";
    if (css_link === "/styles/null.css") {
        css_link = "/styles/default.css";
    }
    var stylesheet_attribute = document.getElementById("dynamic_css_href");
    stylesheet_attribute.setAttribute("href", css_link);
    var logo_attribute = document.getElementById("dynamic_transparent_logo");
    logo_attribute.setAttribute("src", logo_link);
</script>
